[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiomultiprocess = "*"
aiohttp = "*"
lxml = "*"
fire = "*"
ipython = "*"
aiofiles = "*"

[dev-packages]

[requires]
python_version = "3.7"
